<!-- <ion-nav-bar>
 	<button class="button icon-left ion-home">Home</button>
 </ion-nav-bar> -->
<ion-view view-title="Menu" class="menu-state-page dashboard"> 
  	<ion-content class="padding">
  		<div class="menu-list-header">
  			<h1><span>Menu</span></h1>
  		</div>  	
	  	<div class="menu-list-icons-wrapper">
			<div class="row menu-list">
			  <div class="col col-33"><a ui-sref="urgent-messages"><img src="img/menu/urgent-messages.png"/></a><span class="menu-label">Urgent Messages</span></div>
			  <div class="col col-33"><a ui-sref="calendar"><img src="img/menu/calendar.png"/></a><span class="menu-label">Calendar</span></div>
			  <div class="col col-33"><a ui-sref="news"><img src="img/menu/news.png"/></a><span class="menu-label">News</span></div>
			</div>
			<div class="row menu-list">
			  <div class="col col-33"><a ui-sref="timberwolves"><img src="img/menu/timberwolves.png"/></a><span class="menu-label">Timberwolves</span></div>
			  <div class="col col-33"><a ui-sref="school-info"><img src="img/menu/school-info.png"/></a><span class="menu-label">School Info</span></div>
			  <div class="col col-33"><a ui-sref="contact"><img src="img/menu/contact.png"/></a><span class="menu-label">Contact</span></div>
			</div>
			<div class="row menu-list">
			  <div class="col col-33"><a ui-sref="social-media"><img src="img/menu/social-media.png"/></a><span class="menu-label">Social Media</span></div>
			  <div class="col col-33"><a ui-sref="staff-blogs"><img src="img/menu/staff-blogs.png"/></a><span class="menu-label">Staff Blogs</span></div>
			  <div class="col col-33"><a ui-sref="absent-note"><img src="img/menu/absent-note.png"/></a><span class="menu-label">Absent Notes</span></div>
			</div>	
		</div>			
  	</ion-content>
</ion-view>